<html>
    <head>
    </head>
<body style="font-size:13px">



<p>&nbsp;</p>
<p>&nbsp;</p>
<!--first page start here-->

<blockquote style="margin-right:30px">
    HRD/15-16/NC/{{ tool.empid }}<br>
    <b>{{ tool.salutation }} {{ tool.name }}</b><br>
   Candidate ID : EMP/NC/{{ tool.empid }}<br>
    {{ tool.add1 }}    <br>
    {{ tool.add2 }}    <br>
    {{ tool.add3 }}    <br>
<p>&nbsp;</p>
<!--<h3 style="text-align: center">Letter of Appointment</h3>-->
<!--<div style="text-align: center;">Strictly Private & Confidential - Addressee Only</div>-->

<!--<p>&nbsp;</p>-->
Dear {{ tool.salutation }} {{ tool.name }}
    <p></p>
<div class='container' style='justify-content:space-between; text-align:justify'>
Congratulations! Further to your application for employment with us, and the subsequent selection
process, we are delighted to offer you the Role of <b>{{ tool.designation }}</b>
Your Role Designation will be <b>{{ tool.designation }}</b>.
</div>

<p></p>
    <p>
<div class='container' style='justify-content:space-between; text-align:justify'>

    The location of your initial reporting will be <b>{{ tool.location }} , India</b>. Your data of joining will be {{tool.doj}}  .
    </div></p>
 <p>
<div class='container' style='justify-content:space-between; text-align:justify'>

Your Total Gross Salary and pay structure as applicable has been detailed in the <b>Annexure A </b> to this
letter. On your joining, you are expected to enter into an agreement, which details the scope, terms
and conditions of your employment, the necessary training and the contractual obligation to be with
<b>{{ tool.company }}</b>. On successful completion of the probation period, your employment with the company will
stand confirmed subject to the terms and conditions as per Company policies.
</div></p>
     <p>
<div class='container' style='justify-content:space-between; text-align:justify'>
The location of posting would be <b>{{ tool.location }} , India</b>. The duration of the office hour and the location of posting will
be purely based on business requirements. Company will solely reserve the right to make any further
changes to the location. Your employment will be governed by the rules, regulations and policies of the
company.
    </div></p>
     <p>
<div class='container' style='justify-content:space-between; text-align:justify'>
The terms of this offer letter shall remain confidential and are not to be disclosed to any third party. We
request you to please carry a signed copy of the offer letter on the day of your joining as a token of
your acceptance.
<p>
<div class='container' style='justify-content:space-between; text-align:justify'>
Welcome to {{ tool.company }}. We wish you a long, rewarding and fulfilling career and look forward to your
joining us.
</p>
    <div>Yours sincerely</div>
  <p>&nbsp;</p>
    <b>{{ tool.supervisername }}</b><br/>
Human Resource<br>Nescode Technologies Private Limited<br/>
    <p>Encl.: Annexure to the offer (as applicable to you).</p>
<p>I have read, understood and agree to the terms and conditions as set forth in this offer letter and the
annexure to the same.</p>
     Your name in capital letters
    <p>_________________________________</p>
    Your Signature
<p>_________________________________</p>
    <p>Date: ____________, 20________</p>
    <p>Location: _________________________</p>


             <!--first page end here-->
                            <!--Second page start here-->

<p>&nbsp;</p><p>&nbsp;</p>
<h3 style="text-align: center">Annexure B</h3>
<div style="text-align: center;">List of documents to be submitted on your first day.</div>
 <p>
<div class='container' style='justify-content:space-between; text-align:justify'>

Please bring the <b>original</b> and two copies of the following documents. The original will be returned to you on the
                           same day.  </div></p>
<p><div class='container' style='justify-content:space-between; text-align:justify'>
1. Passport Size Photographs (Self - 4 Copies), Stamp Size photographs - 2 nos. each for yourself and all your dependents (Parents / Spouse / Children)
</div></p>
<p><div class='container' style='justify-content:space-between; text-align:justify'>
2. Resume (self-attested)
</div></p>
<p><div class='container' style='justify-content:space-between; text-align:justify'>
3. Educational certificates and mark sheets (X, XII, Graduation, PG, others)
</div></p>
    <p><div class='container' style='justify-content:space-between; text-align:justify'>
4. Previous Relieving Letter / Experience Certificate
</div></p>
    <p><div class='container' style='justify-content:space-between; text-align:justify'>
5. Salary Certificate (last 3 months in Original)
</div></p>
    <p><div class='container' style='justify-content:space-between; text-align:justify'>
6. PAN Card
</div></p>
       <p><div class='container' style='justify-content:space-between; text-align:justify'>
7. Passport
</div></p>
       <p><div class='container' style='justify-content:space-between; text-align:justify'>
8. Driving License /Voter's ID
</div></p>
<p><div class='container' style='justify-content:space-between; text-align:justify'>
9. Details of any Civil or Criminal proceedings against you in any court of law.
</div></p>
<p><div class='container' style='justify-content:space-between; text-align:justify'>
(In case of false information provided by the employee, then the employee shall be liable to be dismissed from service at any time during the period of probation or after confirmation without any notice or compensation).</div></p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p>

                                         <!--2nd page end here-->
                                        <!--3rd page start here-->

<p>&nbsp;</p>
<h3 style="text-align: center">Annexure to your offer of employment [ HRD/15-16/NC/{{ tool.empid }} ] as {{ tool.designation }}</h3>
<hr/>
<div class='container' style='text-align:justify'>Welcome to Nescode!</div>
<p><div class='container' style='justify-content:space-between; text-align:justify'>
Presented here are the details that refer to our offer of employment to you in the role of <b>{{ tool.designation }}</b>.
    Your role designation will be <b>{{ tool.designation }}</b>. This is to be read in conjunction with your
offer of employment dated {{tool.doj}}.
</div></p>
    <p>&nbsp</p>
    <div class='container' style='justify-content:space-between; text-align:justify'><b>01.
Probationary period and confirmation as a permanent employee:</b></div><p>
<p><div class='container' style='justify-content:space-between; text-align:justify'>
You will be on probation for a period of {{tool.traning_duration}}. After completion of satisfactory performance,
    company will
offer a permanent role. Please note all confirmation in the company can take place only on the 1 st day of the
month succeeding completion of probation period. Your confirmation as a permanent employee is subjected
to the terms and conditions included in the confirmation policy of the company. Further details are enclosed
in the information sheet.
</div></p>
       <p><div class='container' style='justify-content:space-between; text-align:justify'>
<b>02.
Earned Leave, holiday and working hours:</b>
</div></p>
<p><div class='container' style='justify-content:space-between; text-align:justify'>
There would be only one type of leave, which is earned leave. Post completion of 1 st year of service without
any holiday, you would be eligible for 12 working days of paid leave per annum.
</div></p>
<p style='justify-content:space-between; text-align:justify'>Employee will be required to work at least 40 hours each week. Your normal working day will be Monday to
Saturday, however at times, actual working days and working days (including public holidays) may be
determined by workflow and company commitments. The employee will be provided with an additional one
(1) hour of lunch break during each working days. In addition the Company may, from time to time, subject
to applicable laws require the Employee to work beyond these hours without any further compensation. The
Employee also expressly agrees that the Company may assign this Agreement to any of the Company’s
subsidiaries or affiliates, in India or any other location, at the Company’s option, accordingly.</p>

 <p><div class='container' style='justify-content:space-between; text-align:justify'>
<b>03.
Salary, Increment and Promotions:</b>
</div></p><p>
<p><div class='container' style='justify-content:space-between; text-align:justify'>
Your gross salary is INR {{tool.ctc}}/- per annum. Salary will paid on 1 st day of every month through online bank
transfer. Your growth in the company and increase in the salary will solely depends on your performance and
contribution to the company.
</div></p>
Nescode reserve the right to modify the salary structure in Annexure “A” without any consent of employee.
Any modification will be communicated by company well in advance. In case of any unsatisfactory
performance, company reserve the right to review the work done by employee and pay accordingly.<p>

 <p><div class='container' style='justify-content:space-between; text-align:justify'>
<b>04.
Notice period:</b><p>
</div></p>
<p><div class='container' style='justify-content:space-between; text-align:justify'>
During the probation period, if your performance is found to be unsatisfactory or if it does not meet the
prescribed criteria, company can terminate your employment with a notice period of seven days and valid
reason. The company may terminate your service immediately on disciplinary grounds.
</div></p><p>
<p><div class='container' style='justify-content:space-between; text-align:justify'>
<b>05.
Agreement:</b>
</div></p><p>
<p><div class='container' style='justify-content:space-between; text-align:justify'>
Our offer to you as {{tool.designation}} is subjected to the execution of necessary service agreement. You
will be required to complete the formalities on the service agreement at the time of joining. The Service
Agreement details the scope, terms and conditions of your employment, the necessary training and
the contractual obligation to be with Nescode from the date of your joining. Please note, non-execution
of notarized Service Agreement at the time of your joining the Company may result in denial to join
in the services of the Company.
</div></p>
    <p>&nbsp</p><p>&nbsp</p><p>&nbsp</p>
<p><div class='container' style='justify-content:space-between; text-align:justify'>
<b>06.
Transfer:</b>
</div></p><p>
<p><div class='container' style='justify-content:space-between; text-align:justify'>
Your services can be transferred to any of our Units / Departments situated anywhere in India. At such
time, the compensation applicable to a specific location will be payable to you.</div></p>

 <p><div class='container' style='justify-content:space-between; text-align:justify'>
<b>07.
Background checks:</b>
</div></p><p>
<p><div class='container' style='justify-content:space-between; text-align:justify'>
The Company may, at its discretion conduct background checks prior to or after your expected joining
date to validate your identity, the address provided by you, your education details and details of your prior
work experience, if any, and to conduct any criminal checks. You expressly consent to the Company
conducting such background checks. In this connection, you are required to furnish the documents listed in
“Offer Annexure for India”. If the Company is not satisfied, in its sole discretion, with the outcome of the
background checks, the Company reserves the right to withdraw this Offer without notice and
Compensation or to take any appropriate action against you, including, but not limited to termination of
your employment.
</div></p>
    <p style='justify-content:space-between; text-align:justify'>
When a background check raises any concerns regarding any of the details furnished by you and the
Company feels the need to further validate such facts, the company may at its sole discretion, ask you for
further information, to substantiate the details that you have earlier provided to the Company, in advance
of initiating appropriate action.</p>

<p style='justify-content:space-between; text-align:justify'>
    In addition, you are required to mandatorily furnish a copy of your passport on the date of joining. In
absence of the same, you will be required to undergo a criminal background check. This check will be
initiated on the date of your joining.
</p>
<p><div class='container' style='justify-content:space-between; text-align:justify'>
<b>08.
Other Terms & Conditions:</b>
</div></p><p>
<p><div class='container' style='justify-content:space-between; text-align:justify'>
You agree not to undertake employment, whether full-time or part-time, as the Director / Partner /
Member / Employee of any other organization or entity engaged in any form of business activity without
the consent of Nescode. The consent may be given subject to any terms and conditions that the Company
may think fit and may be withdrawn at any time at the discretion of the Company.
</div></p>
    <p style='justify-content:space-between; text-align:justify'>
You will be required to claim all business related expenses and settle all dues within 30 days of incurring
the expenditure as per Company policies. Expense claims, which are received after 30 days from the date
of incurring the expenditure, will be deemed to be unauthorized. Also, any unsettled dues post the
aforementioned period would be deducted from the salary.</p>
<p style='justify-content:space-between; text-align:justify'>
    Our offer to you as a <b>{{tool.designation}}</b> is conditional upon your having fully completed your
    graduation /
post- graduation, without any active backlog papers and with a pass. These eligibility criteria for the Role
of a Software Developer, has already been clearly communicated to you. You will also have completed all
studies, course requirements and examinations required for the award of the educational qualification
recorded by you in your application for employment with {{tool.company}}.
</p>
<p style='justify-content:space-between; text-align:justify'>
    You will produce all marks sheets and other relevant documents, at least till the penultimate semester. All
these proofs will need to be submitted on the day of joining. Further, you should have been declared as
passed by the relevant examination authority. The determination of the adequacy or authenticity of all or
any of the proofs and any condemnation of delay in submission of the same will be at the Company’s
discretion.
</p>
    <p style='justify-content:space-between; text-align:justify'>
        At <b>{{tool.company}}</b>, there are policies that are linked to performance management, career growth and
annual compensation review of an employee, these policies will be applicable to you.
    </p>
<p style='justify-content:space-between; text-align:justify'>
    You will be governed by the rules, regulations and policies of the Company as applicable to you. All the
benefits are as per the Company’s policies, which are subject to change from time to time. This offer is also
conditional upon the execution of the “Non-Compete Agreement”.
</p>

                             <p>&nbsp</p> <p>&nbsp</p>   <p>&nbsp</p>
<!--Next page start here-->
<h3 style="text-align: center">Annexure III (Non-Compete Agreement)</h3>
<p><div class='container' style='justify-content:space-between; text-align:justify'>
I,___________________________
Do hereby acknowledge and confirm the following:-
</div></p>
<p style='justify-content:space-between; text-align:justify'>
    (1) I am accepting employment with {{tool.company}} (“NESCODE”).
Now, as per the presents below, I agree to the following terms herein, and acknowledge
that this is a material condition of my employment with {{tool.company}}.
</p>
    <p style='justify-content:space-between; text-align:justify'>
    (2) I am required, on behalf of Nescode, to provide services to, or solicit business from,
various clients of {{tool.company}} (each such client hereinafter referred to as a Customer”).
</p><p style='justify-content:space-between; text-align:justify'>
    (3) I will follow the company rule & regulation as per standard. As per company guidelines for
fresher, I will offer my service to {{tool.company}} for a minimum of one year from date of joining.
</p><p style='justify-content:space-between; text-align:justify'>
    (4) In consideration of the above, I agree that for a period of six (6) months
following the termination of my employment with Nescode for any reason, I will not:
</p><p style='justify-content:space-between; text-align:justify'>
   &nbsp; &nbsp; &nbsp; &nbsp; a.) accept any offer of employment from any Customer, where I had worked in a
professional capacity with that &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Customer in the twelve (12) months immediately
preceding the termination of my employment with Nescode;
</p><p style='justify-content:space-between; text-align:justify'>
    (5) I will follow the intellectual property right and confidentiality guidelines of Nescode and
knowingly/un-knowingly will not share/disclose to third party. In case of any breach in
confidentiality agreement, Nescode may take any appropriate action against me.
</p>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
Employee Signature:
    <p>
    Date:
    <p>
    Employee Name:
    <p>
    Place:
    <p>
    Acknowledged by Nescode Technologies Private Limited:
    </p>
    </blockquote>
</body>
</html>