{% extends "base1.html" %}
{% load staticfiles %}
{% block offer %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!--Form tag start here-->
<div class="container">
            <div class="col-md-11">
             <!--Main panel Start here-->
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-hand-right"></span> Human Resource
                </div>
                                 <!-- panel body start here-->
                                <div class="panel-body">

                                        <div class="col-sm-3">
                                            <ul class="nav nav-pills nav-stacked">

                                              <li><a href="#" ><span class="glyphicon glyphicon-import">
                                              </span> Create account</a></li>

                                            </ul>
                                        </div>
                                    <div class="col-md-5 col-md-offset-1">
                      <!--pannel starts here-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Thank you for creating account.</h3>
                        </div>
                         <!--pannel body starts here-->
                        <div class="panel-body">

                            <fieldset>
                                <div class="alert alert-success" role="alert">
                                     Created Successfully.
                                </div>

                                <a href="/list">Back</a>
                            </fieldset>

                        </div>
                         <!--pannel body end here-->
                    </div>
                     <!--pannel end here-->
                </div>


                                </div>
                                <!-- panel body end here-->
                </div>
            <!-- panel Start here-->
                </div>
</div>








    <!--jquery starts here-->
 {% endblock %}