{% extends "base1.html" %}
{% load staticfiles %}
{% block offer %}
     <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<form action="{{ action }}" method="POST" role="form">{% csrf_token %}
<div class="container">
 <div class="col-md-11">
     <!--Main panel Start here-->
            <div class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-hand-right"></span> Human Resource
                </div>
                <div class="panel-body">
                     <div class="col-md-3">
                            <ul class="nav nav-pills nav-stacked">

                              <li class="active"><a href="#"><span class="glyphicon glyphicon-user">

                              </span> Candidate To Employee</a></li>

                            </ul>
                     </div>
                     <div class="col-md-9">
		<div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-user"></span> Make Candidate as Employee

            </div>
            <div class="well well-sm">
                <p class="text-danger">
                        For making candidate as employee Please Select Candidate and click yes  else click no.
                    </p>
            </div>

					<div class="panel-body">

                            <!-- employee informations -->
                 <div class="row">


                        <div class="col-md-12">
                        <div class="form-group">
                                            <label for="id_offer1" class="col-sm-3 control-label">
                                               Candidate Name:</label>
                                            <div class="col-sm-4">
                                                <div class="dropdown">

                                                    <select id="id_offer1" name="offer1"
                                                             class="form-control" value="{{form.offer1}}
                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                        </div>
                     <p>&nbsp;</p>
                     <p class="text-center">
                     <button type="submit" class="btn btn-default btn-sm" id="save_contact" >Yes</button>
                <a href="/list" class="btn btn-default btn-sm"> No,Cancle</a></p>
                    </div>
            </div>
</div>

</form>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
 <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'nescode.js' %}"></script>
{% endblock %}
